!!!
html
	head
		title Pizarra digital interactiva

		link(rel="stylesheet", type="text/css", href="stylesheets/index.css", media="screen and (max-width: 1024px), (max-width: 1280px)")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=no")
		meta(charset="utf-8")

		<!--link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Kite+One")-->
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Offside")

	body
		div#header
			h1 Witbord
		div#container
			h2 Witbord es una aplicación web que te permite crear pizarras colaborativas en tiempo en real.
			h3 Para ingresar al sistema debes iniciar sesión en DropBox
			a(href="/enter") Iniciar sesión
		
