!!!
html
	head
		title Pizarra digital interactiva

		link(rel="stylesheet", type="text/css", href="stylesheets/style_register.css", media="screen and (max-width: 1024px), (max-width: 1280px)")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=no")
		meta(charset="utf-8")

	body
		

	script(type="text/javascript", src="/javascripts/jquery-1.8.0.min.js")
	script(type="text/javascript", src="/javascripts/dropbox.js")
	script(type="text/javascript")
		$(document).ready(function(){
			var client = new Dropbox.Client({
				key: "rmxo1r3xtgn2zht", secret: "rx0a99kwu9pljh6", sandbox: true
			});

			client.authDriver(new Dropbox.Drivers.Redirect({useQuery: false, rememberUser: true}));

			
			client.authenticate(function(error, client) {
				if (error) {
					console.log(error)
					return showError(error);
				}

				//Esto no cierra la sesion, solo elimina la capacidad para que no pregunte por los permisos
				client.signOut();
			});
		});
