!!!
html
	head
		title Pizarra digital interactiva
		
		link(rel="stylesheet", type="text/css", href="stylesheets/style_h.css", media="screen and (max-width: 1024px), (max-width: 1280px)")
		link(rel="stylesheet", type="text/css", href="stylesheets/style_v.css", media="screen and (max-width: 768px), (max-width: 800px)")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=no")
		meta(charset="utf-8")
	
	body
		div#container
			div#toolbar
				a(href='#/')
					button#home-button
				div.separator
				button#clear-canvas
				div.separator
				div#colors
					button#yellow
					button#blue
					button#orange
					button#pink
					button#green
					button#red
					button#black
					button#white
				
				div.separator
				div
					div#slider-container
						input#slider(type="range", value="1", min="1", max="25", data-highlight="true", step="1")
						div#size-container
							div#size-shape(style="left: 10px; top: 10px;")

				div#slider-button
					div#shape
				
				a(href='/close_session')
					button#logout-button

			
			div#canvas-container
				canvas#main-canvas(width="850", height="660")
					|Tu navegador no soporta Canvas

			
			div#users.users-default
				div#users-header-top
					h2 Usuarios
					div.icon

				div#user-list
					|No hay usuarios
				
				div#users-header
					h2 Usuarios
					div.icon

			
			div#chat.chat-default
				div#chat-header
					h2 Chat
					div.icon

				div#chat-list
					div.user-message
						strong.user-name
							|Nombre de usuario 1
						span
							|: Mensaje de usuario 1

				
				div#input-chat
					textarea#message-text
					button#send-message


	script#user-template(type="text/template")
		<a href="#user/<%= _id %>" id="<%= _id %>"><div class="actual-user inactive"></div><div  class="name-user"><%= name %></div><div class="image-user"></div></a>

	script#message-template(type="text/template")
		<div class="user-message" id="<%= id %>"><strong class="user-name"><%= user_name %>: </strong><%= text %></div>

	script(type="text/javascript", src="/javascripts/jquery-1.8.0.min.js")
	script(type="text/javascript", src="/javascripts/underscore-min.js")
	script(type="text/javascript", src="/javascripts/backbone-min.js")
	script(type="text/javascript", src="/javascripts/backbone.iobind.js")
	script(type="text/javascript", src="/javascripts/backbone.iosync.js")
	script(type="text/javascript", src="/javascripts/socket.io.min.js")

	script(type="text/javascript", src="/javascripts/init.js")
	
	script(type="text/javascript", src="/javascripts/models/message.js")
	script(type="text/javascript", src="/javascripts/models/user.js")

	script(type="text/javascript", src="/javascripts/views/messageinput.js")
	script(type="text/javascript", src="/javascripts/views/messagelist.js")
	script(type="text/javascript", src="/javascripts/views/messagelistitem.js")
	script(type="text/javascript", src="/javascripts/views/paint.js")
	script(type="text/javascript", src="/javascripts/views/userlist.js")
	script(type="text/javascript", src="/javascripts/views/userlistitem.js")

	script(type="text/javascript", src="/javascripts/collections/messages.js")
	script(type="text/javascript", src="/javascripts/collections/users.js")

	script(type="text/javascript", src="/javascripts/routes/mainrouter.js")

	script(type="text/javascript", src="/javascripts/app.js")